<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <!--導入Bootstrap的模組-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
        
        <title> Morgan的自學成果</title>
    </head>

    <body>
        <!--導覽列-->
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">          
            <div class="justify-content-center mx-auto px-4" id="navbarNav">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                  <a class="nav-link h3" href="/">首頁</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link h3" href="/list">作品列表</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link h3" href="/about">關於</a>
                </li>
              </ul>
            </div>
        </nav>




          
          <div class="container mt-5">
            <div class="row justify-content-center align-items-center">

              <div class="col mx-auto">
                <div class="card mb-3 bg-info">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="/static/ai_computer_sousa_robot.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h2 class="card-title" style="font-weight:bold">撰寫網頁歷程&心得</h2>
                        <p class="card-text"><h3>一路上發生的大小事&感悟</h3></p>
                        <a href="/about" class="btn btn-primary rounded-pill">進入</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>


          <div class="container mt-5">
            <div class="row justify-content-center align-items-center">

              <div class="col mx-auto">
                <div class="card mb-3 bg-info">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="/static/book_booktrack.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h2 class="card-title" style="font-weight:bold">作品列表</h2>
                        <p class="card-text"><h3>我做的東東uwu</h3></p>
                        <a href="/list" class="btn btn-primary rounded-pill">進入</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>


          <div class="container mt-5">
            <div class="row justify-content-center align-items-center">

              <div class="col mx-auto">
                <div class="card mb-3 bg-info">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="/static/pdca_cycle_icon_circle.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h2 class="card-title" style="font-weight:bold">創站動機</h2>
                        <p class="card-text">
                          <h3>
                            關於為什麼做了這個網頁<br/>
                          </h3>
                          <h5>錨點未成功設置，進入後須點擊上方按鈕以手動跳轉</h5>
                        </p>
                        <a href="/about" class="btn btn-primary rounded-pill">進入</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>


          <div class="container mt-5">
            <div class="row justify-content-center align-items-center">

              <div class="col mx-auto">
                <div class="card mb-3 bg-info">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="/static/jikosyoukai_man.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h2 class="card-title" style="font-weight:bold">關於我</h2>
                        <p class="card-text">
                          <h3>宅宅</h3><br/>
                          <h5>錨點未成功設置，進入後須點擊上方按鈕以手動跳轉</h5>
                        </p>
                        <a href="/about" class="btn btn-primary rounded-pill">進入</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

    </body>
</html>